<ul>
  <li>
    <h2>Add a new expense:</h2>
  </li>
  <li>
    <form action="/expense" method="post">
      <label for="expense_name">Name:</label>
  </li>
  <li>
      <input name="expense_name" placeholder="Expense Name" type="text">
  </li>
  <li>
      <label for="category">Choose a category:</label>
  </li>
  <li>
      <select name="category" id="category">
        <option value="">--Please choose an option--</option>
        <% @categories.each do |category, category_name| %>
          <option value="<%= category %>"><%= category_name %></option>
        <% end %>
      </select>
  </li>
  <li>
      <label for="expense_amount">Monthly Amount ($):</label>
  </li>
  <li>
      <input type="number" min="0.01" step="0.01" placeholder="0.00" name="expense_amount">
  </li>
      <fieldset>
        <input type="submit" value="Save" class="button">
        <a class="button" href="/">Cancel</a>
      </fieldset>
    </form>
</ul>